openapi: 3.0.3
info:
  version: 0.2.0
  title: Ratecard API
  description: 'Integrate Ratecard directly with your applications through via the Ratecard [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer) API. In this documentation you will find all the resources you''ll need to connect to our API.'
  contact:
    name: Ratecard Support
    url: 'https://support.ratecard.io/'
    email: support@ratecard.io
  termsOfService: 'https://ratecard.io/general-terms'
servers:
  - url: 'https://api.ratecard.io/v1'
security:
  - bearerAuth: []
tags:
  - name: Contacts
  - name: Groups
  - name: Accounts
  - name: Teams
  - name: Users
  - name: Webhooks
  - name: Messages
  - name: Feedback
paths:
  /contacts:
    get:
      summary: List of contacts
      description: This endpoint retrieves a list of contacts from your account.
      operationId: listContacts
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
        - $ref: '#/components/parameters/fieldsparam'
        - $ref: '#/components/parameters/exceptParam'
        - in: query
          name: sort
          schema:
            type: string
          example: ?sort=created_at,-name
          description: |-
            A comma separated list to sort the API response. Properties are ascending by default (e.g. `?sort=created_at`). Use a dash as a prefix to make the property return in descending order (e.g `?sort=-created_at`)

            Sortable properties:
            - id
            - subscribed
            - unsubscribe_date
            - first_name
            - last_name
            - name
            - email
            - phone
            - rating
            - anonymous
            - external_type
            - external_id
            - synced_at
            - created_at
            - updated_at
        - in: query
          name: id
          schema:
            type: string
            format: expression
          description: Filters on the id of the contacts
        - in: query
          name: first_name
          schema:
            type: string
            format: expression
          description: Filters on the first_name of the contacts
        - in: query
          name: last_name
          schema:
            type: string
            format: expression
          description: Filters on the last_name of the contacts
        - in: query
          name: name
          schema:
            type: string
            format: expression
          description: Filters on the name of the contacts
        - in: query
          name: email
          schema:
            type: string
            format: expression
          description: Filters on the email of the contacts
        - in: query
          name: phone
          schema:
            type: string
            format: expression
          description: Filters on the phone of the contacts
        - in: query
          name: subscribed
          schema:
            type: string
            format: expression
          description: Filters on the subscribed of the contacts
        - in: query
          name: anonymous
          schema:
            type: string
            format: expression
          description: Filters on the anonymous of the contacts
        - in: query
          name: external_type
          schema:
            type: string
            format: expression
          description: Filters on the external_type of the contacts
        - in: query
          name: external_id
          schema:
            type: string
            format: expression
          description: Filters on the external_id of the contacts
        - in: query
          name: unsubscribe_date
          schema:
            type: string
            format: expression
          description: Filters on the unsubscribe_date of the contacts
        - in: query
          name: created_at
          schema:
            type: string
            format: expression
          description: Filters on the created_at of the contacts
        - in: query
          name: synced_at
          schema:
            type: string
            format: expression
          description: Filters on the synced_at of the contacts
        - in: query
          name: updated_at
          schema:
            type: string
            format: expression
          description: Filters on the updated_at of the contacts
        - in: query
          name: rating
          schema:
            type: string
            format: expression
          description: Filters on the rating of the contacts
      responses:
        '200':
          description: Paginated contact response
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/contact.v1.yaml
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/contacts?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/contacts?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
              examples:
                Example:
                  value:
                    data:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        first_name: John
                        last_name: Doe
                        email: johndoe@ratecard.io
                        phone: '0612345678'
                        subscribed: true
                        unsubscribe_date: null
                        anonymous: false
                        external_type: Contact
                        external_id: ea10916d-0684-4624-9d07-d341193554cf
                        synced_at: '2020-11-25T09:33:14.000000Z'
                        groups:
                          - id: ea10916d-0684-4624-9d07-d341193554cf
                            name: My Group
                            smart_fields:
                              owner:
                                id: ea10916d-0684-4624-9d07-d341193554cf
                                name: John Doe
                                email: johndoe@ratecard.io
                              team:
                                id: ea10916d-0684-4624-9d07-d341193554cf
                                name: My Team
                                email: myteam@ratecard.io
                              notes: John Doe is an example for us all.
                              credits: 154325
                              time_of_arrival: '09:33:14.000000Z'
                              date_of_arrival: '2020-11-25'
                              datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                              locale: en
                        embed_url: 'https://ratecard.io/embed/contacts/ea10916d-0684-4624-9d07-d341193554cf?access_token=<access_token>'
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    links:
                      first: 'https://api.ratecard.io/v1/contacts?page=1'
                      last: 'https://api.ratecard.io/v1/contacts?page=100'
                      prev: 'https://api.ratecard.io/v1/contacts?page=1'
                      next: 'https://api.ratecard.io/v1/contacts?page=2'
                    meta:
                      current_page: 2
                      from: 2
                      last_page: 10
                      path: 'https://api.ratecard.io/v1/contacts'
                      per_page: 1
                      to: 2
                      total: 100
    post:
      summary: Add a new contact
      description: 'This endpoint is used to add a contact to the account. '
      operationId: addContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: John
                  description: The contact's first name
                last_name:
                  type: string
                  example: Doe
                  description: The contact's last name
                name:
                  type: string
                  description: 'Alternative to first and last name, can be used instead'
                  example: John Doe
                email:
                  type: string
                  example: johndoe@ratecard.io
                  description: The contact's email address
                phone:
                  type: string
                  example: '0612345678'
                  description: The contact's phone number
                subscribed:
                  type: boolean
                  example: true
                  description: Subscribe the contact to be able to send them mail and texts
                anonymous:
                  type: boolean
                  example: false
                  description: Make the contact anonymous
                groups:
                  type: array
                  description: Add the contact to one or many groups with smart fields (see examples)
                  items:
                    anyOf:
                      - properties:
                          id:
                            type: string
                            format: uuid
                            example: ea10916d-0684-4624-9d07-d341193554cf
                            description: group id
                        description: Add to group by group id
                        required:
                          - id
                      - properties:
                          name:
                            type: string
                            example: My Group
                            description: Group name
                        description: Add to group by group name (creates new group if group not found)
                        required:
                          - name
                    description: Different ways to add a contact to a group
                    type: object
              required:
                - email
            examples:
              Example 1:
                value:
                  first_name: John
                  last_name: Doe
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
                  groups:
                    - id: ea10916d-0684-4624-9d07-d341193554cf
                      owner: johndoe@ratecard.io
                      notes: John Doe is an example for us all.
                      credits: 154325
                      time_of_arrival: '09:33:14.000000Z'
                      date_of_arrival: '2020-11-25'
                      datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                      locale: en
              Example 2:
                value:
                  name: John Doe
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
                  groups:
                    - name: My Group
                      owner: ea10916d-0684-4624-9d07-d341193554cf
                      notes: John Doe is an example for us all.
                      credits: 154325
                      time_of_arrival: '09:33:14.000000Z'
                      date_of_arrival: '2020-11-25'
                      datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                      locale: en
              Example 3:
                value:
                  name: 'Doe, John'
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
                  groups:
                    - id: ea10916d-0684-4624-9d07-d341193554cf
                      owner: John Doe
                      notes: John Doe is an example for us all.
                      credits: 154325
                      time_of_arrival: '09:33:14.000000Z'
                      date_of_arrival: '2020-11-25'
                      datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                      locale: en
        description: |-
          Contacts can be added in a few ways. The endpoint is very flexible in how it accepts the data to be able to process as many use cases as possible. 

          A contact's name can be added in 3 different ways for example:
          1. With their first and last name in separate keys
          2. With their first and last name with a space in between
          3. With their last name first and then a comma plus space, followed by their first name

          How a contact is added to a group is also very flexible. A contact can be added to a group with the group id or name of the group present in the object. The rest of the keys given to group objects are smart fields by name and value pairs.

          _See the example request bodies to gain a better view of this flexibility._
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./models/contact.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    first_name: John
                    last_name: Doe
                    email: johndoe@ratecard.io
                    phone: '0612345678'
                    subscribed: true
                    unsubscribe_date: null
                    anonymous: false
                    external_type: Contact
                    external_id: ea10916d-0684-4624-9d07-d341193554cf
                    synced_at: '2020-11-25T09:33:14.000000Z'
                    groups:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: My Group
                        smart_fields:
                          owner:
                            id: ea10916d-0684-4624-9d07-d341193554cf
                            name: John Doe
                            email: johndoe@ratecard.io
                          team:
                            id: ea10916d-0684-4624-9d07-d341193554cf
                            name: My Team
                            email: myteam@ratecard.io
                          notes: John Doe is an example for us all.
                          credits: 154325
                          time_of_arrival: '09:33:14.000000Z'
                          date_of_arrival: '2020-11-25'
                          datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                          locale: en
                    embed_url: 'https://ratecard.io/embed/contacts/ea10916d-0684-4624-9d07-d341193554cf?access_token=<access_token>'
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
          links:
            GetContactById:
              operationId: getContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `GET /contacts/{id}`.
            UpdateContactById:
              operationId: updateContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /contacts/{id}`.
            DeleteContactById:
              operationId: deleteContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /contacts/{id}`.
        '422':
          $ref: '#/components/responses/422'
  '/contacts/{id}':
    get:
      summary: Retrieve a contact
      description: This endpoints retrieves a contact.
      operationId: getContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/fieldsparam'
      responses:
        '200':
          description: Contact response
          content:
            application/json:
              schema:
                $ref: ./models/contact.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    first_name: John
                    last_name: Doe
                    email: johndoe@ratecard.io
                    phone: '0612345678'
                    subscribed: true
                    unsubscribe_date: null
                    anonymous: false
                    external_type: Contact
                    external_id: ea10916d-0684-4624-9d07-d341193554cf
                    synced_at: '2020-11-25T09:33:14.000000Z'
                    groups:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: My Group
                        smart_fields:
                          owner:
                            id: ea10916d-0684-4624-9d07-d341193554cf
                            name: John Doe
                            email: johndoe@ratecard.io
                          team:
                            id: ea10916d-0684-4624-9d07-d341193554cf
                            name: My Team
                            email: myteam@ratecard.io
                          notes: John Doe is an example for us all.
                          credits: 154325
                          time_of_arrival: '09:33:14.000000Z'
                          date_of_arrival: '2020-11-25'
                          datetime_of_arrival: '2020-11-25T09:33:14.000000Z'
                          locale: en
                    embed_url: 'https://ratecard.io/embed/contacts/ea10916d-0684-4624-9d07-d341193554cf?access_token=<access_token>'
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
          links:
            UpdateContactById:
              operationId: updateContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /contacts/{id}`.
            DeleteContactById:
              operationId: deleteContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /contacts/{id}`.
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Update a contact
      description: This endpoint is used to update a contact without group related information.
      operationId: updateContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: John
                  description: The contact's first name
                last_name:
                  type: string
                  example: Doe
                  description: The contact's last name
                name:
                  type: string
                  description: 'Alternative to first and last name, can be used instead'
                  example: John Doe
                email:
                  type: string
                  example: johndoe@ratecard.io
                  description: The contact's email address
                phone:
                  type: string
                  example: '0612345678'
                  description: The contact's phone number
                subscribed:
                  type: boolean
                  example: true
                  description: Subscribe the contact to be able to send them mail and texts
                anonymous:
                  type: boolean
                  example: false
                  description: Make the contact anonymous
              required:
                - email
            examples:
              Example 1:
                value:
                  first_name: John
                  last_name: Doe
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
              Example 2:
                value:
                  name: John Doe
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
              Example 3:
                value:
                  name: 'Doe, John'
                  email: johndoe@ratecard.io
                  phone: '0612345678'
                  subscribed: true
                  anonymous: false
        description: |-
          Similar to the contacts create endpoint, only without the group functionality as this process is handled in the group scoped contact endpoints. The big difference is how the anonymous property is handled. Once a contact is anonymous in our system it will remain anonymous in order to protect their anonimity, meaning a contact can only be anonymized in this endpoint and not the other way around.

          A contact's name can be added in 3 different ways for example:
          1. With their first and last name in separate keys
          2. With their first and last name with a space in between
          3. With their last name first and then a comma plus space, followed by their first name
      responses:
        '204':
          description: Contact updated response
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a contact
      description: This endpoint is used to delete a contact from your account.
      operationId: deleteContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      responses:
        '200':
          $ref: '#/components/responses/200-(deleted)'
        '404':
          $ref: '#/components/responses/404'
    parameters:
      - schema:
          type: string
          format: uuid
          example: ea10916d-0684-4624-9d07-d341193554cf
        name: id
        in: path
        required: true
        description: id of the contact
  /groups:
    get:
      summary: List of groups
      description: This endpoint retrieves a list of groups from your account.
      operationId: listGroups
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
        - $ref: '#/components/parameters/fieldsparam'
        - $ref: '#/components/parameters/exceptParam'
        - in: query
          name: sort
          schema:
            type: string
          example: ?sort=created_at,-name
          description: |-
            A comma separated list to sort the API response. Properties are ascending by default (e.g. `?sort=created_at`). Use a dash as a prefix to make the property return in descending order (e.g `?sort=-created_at`)

            Sortable properties:
            - id
            - public_id
            - name
            - limits.contacts.no_duplicates
            - limits.contacts.no_duplicates_in_any_group
            - limits.messages.max
            - limits.messages.period
            - limits.messages.include_reminders
            - limits.filter.tag
            - limits.filter.value
            - created_at
            - updated_at
        - in: query
          name: id
          schema:
            type: string
            format: uuid
          description: Filters on the id of the group
        - in: query
          name: public_id
          schema:
            type: string
            format: uuid
          description: Filters on the public_id of the group
        - in: query
          name: name
          schema:
            type: string
            format: uuid
          description: Filters on the name of the group
        - in: query
          name: limits.contacts.no_duplicates
          schema:
            type: string
            format: uuid
          description: Filters on the limits.contacts.no_duplicates of the group
        - in: query
          name: limits.contacts.no_duplicates_in_any_group
          schema:
            type: string
            format: uuid
          description: Filters on the limits.contacts.no_duplicates_in_any_group of the group
        - in: query
          name: limits.messages.max
          schema:
            type: string
            format: uuid
          description: Filters on the limits.messages.max of the group
        - in: query
          name: limits.messages.period
          schema:
            type: string
            format: uuid
          description: Filters on the limits.messages.period of the group
        - in: query
          name: limits.messages.include_reminders
          schema:
            type: string
            format: uuid
          description: Filters on the limits.messages.include_reminders of the group
        - in: query
          name: limits.filter.tag
          schema:
            type: string
            format: uuid
          description: Filters on the limits.filter.tag of the group
        - in: query
          name: limits.filter.value
          schema:
            type: string
            format: uuid
          description: Filters on the limits.filter.value of the group
        - in: query
          name: created_at
          schema:
            type: string
            format: uuid
          description: Filters on the created_at of the group
        - in: query
          name: updated_at
          schema:
            type: string
            format: uuid
          description: Filters on the updated_at of the group
      responses:
        '200':
          description: Paginated group response
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/group.v1.yaml
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/groups?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/groups?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
              examples:
                Example:
                  value:
                    data:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: My Group
                        limits:
                          contacts:
                            no_duplicates: true
                            no_duplicates_in_any_group: false
                          messages:
                            max: 2
                            period: d
                            include_reminders: false
                          filter:
                            tag: locale
                            value: nl
                        smart_fields:
                          - type: user
                            name: owner
                            slug: owner
                            value: support@ratecard.io
                            created_at: '2020-11-25T09:33:14.000000Z'
                            updated_at: '2020-11-25T09:33:14.000000Z'
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    links:
                      first: 'https://api.ratecard.io/v1/groups?page=1'
                      last: 'https://api.ratecard.io/v1/groups?page=100'
                      prev: 'https://api.ratecard.io/v1/groups?page=1'
                      next: 'https://api.ratecard.io/v1/groups?page=2'
                    meta:
                      current_page: 2
                      from: 2
                      last_page: 10
                      path: 'https://api.ratecard.io/v1/groups'
                      per_page: 1
                      to: 2
                      total: 100
    post:
      summary: Add a new group
      description: Description
      operationId: addGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the group
                  type: string
                  example: My Group
                limits:
                  description: Rules for limiting message sends and adding contacts to the groups
                  type: object
                  properties:
                    contacts:
                      description: Filters that determine if an existing contact can be added to the group
                      type: object
                      properties:
                        no_duplicates:
                          description: (Dis)allow contacts that already exist in *this* group to be added to the group
                          type: boolean
                          example: true
                        no_duplicates_in_any_group:
                          description: (Dis)allow contacts that already exist in *any* group to be added to the group
                          type: boolean
                          nullable: true
                          example: false
                    messages:
                      description: Controls the rate and frequency of which messages can be sent to contacts of the group
                      type: object
                      properties:
                        max:
                          description: Maximum amount of messages per the defined period (frequency)
                          type: integer
                          example: 2
                        period:
                          description: The frequency period to limit message sends on
                          type: string
                          enum:
                            - d
                            - w
                            - m
                            - q
                            - hy
                            - 'y'
                          example: d
                        include_reminders:
                          description: Include reminder messages in the check
                          type: boolean
                          example: false
                    filter:
                      description: Determines whether a contact can be added or not
                      type: object
                      properties:
                        tag:
                          description: The tag the group filters on when adding contacts
                          type: string
                          nullable: true
                          example: locale
                        value:
                          description: The value that the group tag filter must find to allow a contact to be stored
                          type: string
                          nullable: true
                          example: nl
                smart_fields:
                  anyOf:
                    - type: array
                      description: Array of smart field objects
                      items:
                        type: object
                        description: Smart field object
                        properties:
                          type:
                            type: string
                            example: text
                            enum:
                              - datetime
                              - date
                              - time
                              - number
                              - text
                              - user
                              - team
                              - language
                            description: Smart field type
                          name:
                            type: string
                            example: My smart field
                            description: Smart field name
                          value:
                            type: string
                            description: Smart field value
                            example: My value
                    - type: object
                      description: Smart field key value object
                      properties:
                        field_name:
                          type: string
                          description: Example field
                  description: Array or object of smart fields
              required:
                - name
            examples:
              Example 1:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    - type: text
                      name: My smart field
                      value: My value
              Example 2:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    my_smart_field: My value
        description: |-
          Just like with the contact endpoint(s). The group endpoint(s) have some built in flexibility regarding the smart fields. There's 2 ways a smart field can be added.

          The first way is by adding an object to the smart field array with the properties: name, type and value. This way you have full control over how the system processes the new smart field.

          The second way is by name and value just like on the contacts endpoints. Our API checks which type of data your name value pair(s) contain(s). When it can't figure out what type of data the field contains it will default to a text field. 

          _See the example request bodies to gain a better view of this flexibility._
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./models/group.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    name: My Group
                    limits:
                      contacts:
                        no_duplicates: true
                        no_duplicates_in_any_group: false
                      messages:
                        max: 2
                        period: d
                        include_reminders: false
                      filter:
                        tag: locale
                        value: nl
                    smart_fields:
                      - type: user
                        name: owner
                        slug: owner
                        value: support@ratecard.io
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
          links:
            GetGroupById:
              operationId: getGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `GET /groups/{id}`.
            UpdateGroupById:
              operationId: updateGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /groups/{id}`.
            DeleteGroupById:
              operationId: deleteGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /groups/{id}`.
        '422':
          $ref: '#/components/responses/422'
  '/groups/{id}':
    get:
      summary: Retrieve a group
      description: This endpoint retrieves a single group from your account.
      operationId: getGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/fieldsparam'
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: ./models/group.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    name: My Group
                    limits:
                      contacts:
                        no_duplicates: true
                        no_duplicates_in_any_group: false
                      messages:
                        max: 2
                        period: d
                        include_reminders: false
                      filter:
                        tag: locale
                        value: nl
                    smart_fields:
                      - type: user
                        name: owner
                        slug: owner
                        value: support@ratecard.io
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
          links:
            UpdateGroupById:
              operationId: updateGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /groups/{id}`.
            DeleteGroupById:
              operationId: deleteGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /groups/{id}`.
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Update a group
      description: This endpoint updates the entire group and data given in the request body.
      operationId: updateGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the group
                  type: string
                  example: My Group
                limits:
                  description: Rules for limiting message sends and adding contacts to the groups
                  type: object
                  properties:
                    contacts:
                      description: Filters that determine if an existing contact can be added to the group
                      type: object
                      properties:
                        no_duplicates:
                          description: (Dis)allow contacts that already exist in *this* group to be added to the group
                          type: boolean
                          example: true
                        no_duplicates_in_any_group:
                          description: (Dis)allow contacts that already exist in *any* group to be added to the group
                          type: boolean
                          nullable: true
                          example: false
                    messages:
                      description: Controls the rate and frequency of which messages can be sent to contacts of the group
                      type: object
                      properties:
                        max:
                          description: Maximum amount of messages per the defined period (frequency)
                          type: integer
                          example: 2
                        period:
                          description: The frequency period to limit message sends on
                          type: string
                          enum:
                            - d
                            - w
                            - m
                            - q
                            - hy
                            - 'y'
                          example: d
                        include_reminders:
                          description: Include reminder messages in the check
                          type: boolean
                          example: false
                    filter:
                      description: Determines whether a contact can be added or not
                      type: object
                      properties:
                        tag:
                          description: The tag the group filters on when adding contacts
                          type: string
                          nullable: true
                          example: locale
                        value:
                          description: The value that the group tag filter must find to allow a contact to be stored
                          type: string
                          nullable: true
                          example: nl
                smart_fields:
                  anyOf:
                    - type: array
                      description: Array of smart field objects
                      items:
                        type: object
                        description: Smart field object
                        properties:
                          type:
                            type: string
                            example: text
                            enum:
                              - datetime
                              - date
                              - time
                              - number
                              - text
                              - user
                              - team
                              - language
                            description: Smart field type
                          name:
                            type: string
                            example: My smart field
                            description: Smart field name
                          value:
                            type: string
                            description: Smart field value
                            example: My value
                    - type: object
                      description: Smart field key value object
                      properties:
                        field_name:
                          type: string
                          description: Example field
                  description: Array or object of smart fields
              required:
                - name
            examples:
              Example 1:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    - type: text
                      name: My smart field
                      value: My value
              Example 2:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    my_smart_field: My value
        description: |-
          Just like with the contact endpoint(s). The group endpoint(s) have some built in flexibility regarding the smart fields. There's 2 ways a smart field can be added.

          The first way is by adding an object to the smart field array with the properties: name, type and value. This way you have full control over how the system processes the new smart field.

          The second way is by name and value just like on the contacts endpoints. Our API checks which type of data your name value pair(s) contain(s). When it can't figure out what type of data the field contains it will default to a text field.

          _See the example request bodies to gain a better view of this flexibility._

          <!-- theme: warning -->
          > Do not forget that this is a `PUT` request. 
          > 
          > When smart fields are given through this request all smart fields not present in the request will be removed from the group.
      responses:
        '204':
          description: Group updated response
        '404':
          $ref: '#/components/responses/404'
    patch:
      summary: Partially update a group
      description: This endpoint partially updates the group and data given in the request body.
      operationId: partiallyUpdateGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the group
                  type: string
                  example: My Group
                limits:
                  description: Rules for limiting message sends and adding contacts to the groups
                  type: object
                  properties:
                    contacts:
                      description: Filters that determine if an existing contact can be added to the group
                      type: object
                      properties:
                        no_duplicates:
                          description: (Dis)allow contacts that already exist in *this* group to be added to the group
                          type: boolean
                          example: true
                        no_duplicates_in_any_group:
                          description: (Dis)allow contacts that already exist in *any* group to be added to the group
                          type: boolean
                          nullable: true
                          example: false
                    messages:
                      description: Controls the rate and frequency of which messages can be sent to contacts of the group
                      type: object
                      properties:
                        max:
                          description: Maximum amount of messages per the defined period (frequency)
                          type: integer
                          example: 2
                        period:
                          description: The frequency period to limit message sends on
                          type: string
                          enum:
                            - d
                            - w
                            - m
                            - q
                            - hy
                            - 'y'
                          example: d
                        include_reminders:
                          description: Include reminder messages in the check
                          type: boolean
                          example: false
                    filter:
                      description: Determines whether a contact can be added or not
                      type: object
                      properties:
                        tag:
                          description: The tag the group filters on when adding contacts
                          type: string
                          nullable: true
                          example: locale
                        value:
                          description: The value that the group tag filter must find to allow a contact to be stored
                          type: string
                          nullable: true
                          example: nl
                smart_fields:
                  anyOf:
                    - type: array
                      description: Array of smart field objects
                      items:
                        type: object
                        description: Smart field object
                        properties:
                          type:
                            type: string
                            example: text
                            enum:
                              - datetime
                              - date
                              - time
                              - number
                              - text
                              - user
                              - team
                              - language
                            description: Smart field type
                          name:
                            type: string
                            example: My smart field
                            description: Smart field name
                          value:
                            type: string
                            description: Smart field value
                            example: My value
                    - type: object
                      description: Smart field key value object
                      properties:
                        field_name:
                          type: string
                          description: Example field
                  description: Array or object of smart fields
              required:
                - name
            examples:
              Example 1:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    - type: text
                      name: My smart field
                      value: My value
              Example 2:
                value:
                  name: My Group
                  limits:
                    contacts:
                      no_duplicates: true
                      no_duplicates_in_any_group: true
                    messages:
                      max: 0
                      period: d
                      include_reminders: true
                    filter:
                      tag: ''
                      value: ''
                  smart_fields:
                    my_smart_field: My value
        description: |-
          Just like with the contact endpoint(s). The group endpoint(s) have some built in flexibility regarding the smart fields. There's 2 ways a smart field can be added.

          The first way is by adding an object to the smart field array with the properties: name, type and value. This way you have full control over how the system processes the new smart field.

          The second way is by name and value just like on the contacts endpoints. Our API checks which type of data your name value pair(s) contain(s). When it can't figure out what type of data the field contains it will default to a text field.

          _See the example request bodies to gain a better view of this flexibility._

          <!-- theme: info -->
          > This endpoint can only add smart fields, not remove them.
      responses:
        '204':
          description: Group updated response
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a group
      description: This endpoint deletes the given group.
      operationId: deleteGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      responses:
        '204':
          description: Group deleted response
        '404':
          $ref: '#/components/responses/404'
    parameters:
      - schema:
          type: string
          format: uuid
          example: ea10916d-0684-4624-9d07-d341193554cf
        name: id
        in: path
        required: true
        description: id of the group
  /users:
    get:
      description: This endpoint retrieves a list of users from your account.
      summary: List of users
      tags:
        - Users
      responses:
        '200':
          description: Paginated user response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/user.v1.yaml
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/users?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/users?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/users?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/users?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/users'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
              examples:
                Example:
                  value:
                    data:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        review_visible: true
                        first_name: John
                        last_name: Doe
                        email: johndoe@example.com
                        phone: +31 6 12345678
                        date_of_birth: 01-01-2020
                        profile_picture: string
                        country: NL
                        language: NL
                        function: Developer
                        role: owner
                        teams:
                          - id: ea10916d-0684-4624-9d07-d341193554cf
                            name: Support
                            email: support@ratecard.io
                            review_urls:
                              google: null
                              facebook: null
                              indeed: null
                              glassdoor: null
                            created_at: '2020-11-25T09:33:14.000000Z'
                            updated_at: '2020-11-25T09:33:14.000000Z'
                        notifications:
                          app: true
                          email:
                            import_errors: true
                            feedback: true
                            feedback_below:
                              enabled: true
                              score: 0
                            feedback_comments: true
                          text:
                            feedback: true
                            feedback_below:
                              enabled: true
                              score: 0
                            feedback_comments: true
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    links:
                      first: 'https://api.ratecard.io/v1/users?page=1'
                      last: 'https://api.ratecard.io/v1/users?page=100'
                      prev: 'https://api.ratecard.io/v1/users?page=1'
                      next: 'https://api.ratecard.io/v1/users?page=2'
                    meta:
                      current_page: 2
                      from: 2
                      last_page: 10
                      path: 'https://api.ratecard.io/v1/users'
                      per_page: 1
                      to: 2
                      total: 100
          headers: {}
      operationId: get-users
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
        - $ref: '#/components/parameters/fieldsparam'
        - $ref: '#/components/parameters/exceptParam'
        - in: query
          name: sort
          schema:
            type: string
          example: ?sort=created_at,-name
          description: |-
            A comma separated list to sort the API response. Properties are ascending by default (e.g. `?sort=created_at`). Use a dash as a prefix to make the property return in descending order (e.g `?sort=-created_at`)

            Sortable properties:
            - id
            - review_visible
            - first_name
            - last_name
            - name
            - email
            - phone
            - date_of_birth
            - country
            - language
            - function
            - role
            - notifications.app
            - notifications.email.import_errors
            - notifications.email.feedback
            - notifications.email.feedback_below_score
            - notifications.email.feedback_comments
            - notifications.text.feedback
            - notifications.text.feedback_below_score
            - notifications.text.feedback_comments
            - created_at
            - updated_at
        - in: query
          name: id
          schema:
            type: string
            format: expression
          description: Filters on the id of the users
        - in: query
          name: review_visible
          schema:
            type: string
            format: expression
          description: Filters on the review_visible of the users
        - in: query
          name: first_name
          schema:
            type: string
            format: expression
          description: Filters on the first_name of the users
        - in: query
          name: last_name
          schema:
            type: string
            format: expression
          description: Filters on the last_name of the users
        - in: query
          name: name
          schema:
            type: string
            format: expression
          description: Filters on the name of the users
        - in: query
          name: email
          schema:
            type: string
            format: expression
          description: Filters on the email of the users
        - in: query
          name: phone
          schema:
            type: string
            format: expression
          description: Filters on the phone of the users
        - in: query
          name: date_of_birth
          schema:
            type: string
            format: expression
          description: Filters on the date_of_birth of the users
        - in: query
          name: country
          schema:
            type: string
            format: expression
          description: Filters on the country of the users
        - in: query
          name: language
          schema:
            type: string
            format: expression
          description: Filters on the language of the users
        - in: query
          name: function
          schema:
            type: string
            format: expression
          description: Filters on the function of the users
        - in: query
          name: role
          schema:
            type: string
            format: expression
          description: Filters on the role of the users
        - in: query
          name: notifications.app
          schema:
            type: string
            format: expression
          description: Filters on the notifications.app of the users
        - in: query
          name: notifications.email.import_errors
          schema:
            type: string
            format: expression
          description: Filters on the notifications.email.import_errors of the users
        - in: query
          name: notifications.email.feedback
          schema:
            type: string
            format: expression
          description: Filters on the notifications.email.feedback of the users
        - in: query
          name: notifications.email.feedback_below_enabled
          schema:
            type: string
            format: expression
          description: Filters on the notifications.email.feedback_below_enabled of the users
        - in: query
          name: notifications.email.feedback_below_score
          schema:
            type: string
            format: expression
          description: Filters on the notifications.email.feedback_below_score of the users
        - in: query
          name: notifications.email.feedback_comments
          schema:
            type: string
            format: expression
          description: Filters on the notifications.email.feedback_comments of the users
        - in: query
          name: notifications.text.feedback
          schema:
            type: string
            format: expression
          description: Filters on the notifications.text.feedback of the users
        - in: query
          name: notifications.text.feedback_below_enabled
          schema:
            type: string
            format: expression
          description: Filters on the notifications.text.feedback_below_enabled of the users
        - in: query
          name: notifications.text.feedback_comments
          schema:
            type: string
            format: expression
          description: Filters on the notifications.text.feedback_comments of the users
        - in: query
          name: created_at
          schema:
            type: string
            format: expression
          description: Filters on the created_at of the users
        - in: query
          name: updated_at
          schema:
            type: string
            format: expression
          description: Filters on the updated_at of the users
    post:
      description: This endpoint is used to add new users to your account.
      summary: Add a new user
      tags:
        - Users
      responses:
        '200':
          description: New user response
          content:
            application/json:
              schema:
                $ref: ./models/user.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    review_visible: true
                    first_name: John
                    last_name: Doe
                    email: johndoe@example.com
                    phone: +31 6 12345678
                    date_of_birth: 01-01-2020
                    profile_picture: string
                    country: NL
                    language: NL
                    function: Developer
                    role: owner
                    teams:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: Support
                        email: support@ratecard.io
                        review_urls:
                          google: null
                          facebook: null
                          indeed: null
                          glassdoor: null
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    notifications:
                      app: true
                      email:
                        import_errors: true
                        feedback: true
                        feedback_below:
                          enabled: true
                          score: 0
                        feedback_comments: true
                      text:
                        feedback: true
                        feedback_below:
                          enabled: true
                          score: 0
                        feedback_comments: true
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
        '422':
          $ref: '#/components/responses/422'
      operationId: post-users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name of the user
                  example: John
                last_name:
                  type: string
                  description: Last name of the user
                  example: Doe
                email:
                  type: string
                  description: Emailaddress of the user
                  example: johndoe@example.com
                phone:
                  type:
                    - string
                    - 'null'
                  example: +31 6 12345678
                  description: Phone number of the user
                date_of_birth:
                  type:
                    - string
                    - 'null'
                  example: 01-01-2020
                  description: Birthdate of the user
                country:
                  type: string
                  example: NL
                  description: 'Country of the user, uses ISO 3166-1 alpha-2 language codes'
                language:
                  type: string
                  description: The Ratecard app language for the user
                  enum:
                    - NL
                    - EN
                function:
                  type: string
                  example: Developer
                  description: The function (job title) of the user
                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - manager
                    - user
                  description: The user's role (within Ratecard)
                teams:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the team
                        example: ea10916d-0684-4624-9d07-d341193554cf
                        format: uuid
                        readOnly: true
                      name:
                        type: string
                        description: Name of the team
                        example: Support
                      email:
                        type:
                          - string
                          - 'null'
                        description: Email of the team
                        example: support@ratecard.io
                      review_urls:
                        type: object
                        description: Review URLs for the team
                        properties:
                          google:
                            type:
                              - string
                              - 'null'
                            description: The team's Google review URL
                          facebook:
                            type:
                              - string
                              - 'null'
                            description: The team's Facebook review URL
                          indeed:
                            type:
                              - string
                              - 'null'
                            description: The team's Indeed review URL
                          glassdoor:
                            type:
                              - string
                              - 'null'
                            description: The team's Glassdoor review URL
                notifications:
                  type: object
                  description: The user's notification settings
                  properties:
                    app:
                      type: boolean
                      description: In-app notifications (e.g. notification bubbles)
                    email:
                      type: object
                      description: Email based notifications
                      properties:
                        import_errors:
                          type: boolean
                          description: Sends a notification when an error occurs during an import
                        feedback:
                          type: boolean
                          description: Sends a notification when new feedback arrives
                        feedback_below:
                          type: object
                          description: Only send notification's regarding feedback below the defined score
                          properties:
                            enabled:
                              type: boolean
                            score:
                              type: integer
                              maximum: 10
                              minimum: 0
                              exclusiveMaximum: true
                              exclusiveMinimum: false
                        feedback_comments:
                          type: boolean
                          description: Sends a notification when there's a new comment for feedback
                    text:
                      type: object
                      description: Text (sms) based notifications
                      properties:
                        feedback:
                          type: boolean
                          description: Sends a notification when new feedback arrives
                        feedback_below:
                          type: object
                          description: Only send notification's regarding feedback below the defined score
                          properties:
                            enabled:
                              type: boolean
                            score:
                              type: integer
                              maximum: 10
                              minimum: 0
                              exclusiveMaximum: true
                        feedback_comments:
                          type: boolean
                          description: Sends a notification when there's a new comment for feedback
                created_at:
                  description: Date of creation
                  type: string
                  example: '2020-11-25T09:33:14.000000Z'
                  format: datetime
                  readOnly: true
                updated_at:
                  description: Date last changed
                  type: string
                  example: '2020-11-25T09:33:14.000000Z'
                  format: datetime
                  readOnly: true
              required:
                - first_name
                - last_name
                - email
                - role
            examples:
              Example 1:
                value:
                  first_name: John
                  last_name: Doe
                  email: johndoe@example.com
                  phone: +31 6 12345678
                  date_of_birth: 01-01-2020
                  country: NL
                  language: NL
                  function: Developer
                  role: owner
                  teams:
                    - id: ea10916d-0684-4624-9d07-d341193554cf
                  notifications:
                    app: true
                    email:
                      import_errors: true
                      feedback: true
                      feedback_below:
                        enabled: true
                        score: 0
                      feedback_comments: true
                    text:
                      feedback: true
                      feedback_below:
                        enabled: true
                        score: 0
                      feedback_comments: true
                  created_at: '2020-11-25T09:33:14.000000Z'
                  updated_at: '2020-11-25T09:33:14.000000Z'
              Example 2:
                value:
                  first_name: John
                  last_name: Doe
                  email: johndoe@example.com
                  phone: +31 6 12345678
                  date_of_birth: 01-01-2020
                  country: NL
                  language: NL
                  function: Developer
                  role: owner
                  teams:
                    - name: Support
                      email: support@ratecard.io
                  notifications:
                    app: true
                    email:
                      import_errors: true
                      feedback: true
                      feedback_below:
                        enabled: true
                        score: 0
                      feedback_comments: true
                    text:
                      feedback: true
                      feedback_below:
                        enabled: true
                        score: 0
                      feedback_comments: true
                  created_at: '2020-11-25T09:33:14.000000Z'
                  updated_at: '2020-11-25T09:33:14.000000Z'
        description: |-
          Just like with adding contacts, a user can be added to one or more teams when being created. A team's ID or name can be used to add a user to the team. The API will create a new team when a name property is specified and a team with that name doesn't yet exist. It functions the same way as the add new team endpoint, so you can also add the other team properties if needed.

          > A team will not update here if it exists and a property is given that doesn't match its group. value
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
  '/users/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: The user's ID
    get:
      description: This endpoint retrieves a single user from your account.
      summary: Retrieve a user
      tags:
        - Users
      responses:
        '200':
          description: User response
          content:
            application/json:
              schema:
                $ref: ./models/user.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    review_visible: true
                    first_name: John
                    last_name: Doe
                    email: johndoe@example.com
                    phone: +31 6 12345678
                    date_of_birth: 01-01-2020
                    profile_picture: string
                    country: NL
                    language: NL
                    function: Developer
                    role: owner
                    teams:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: Support
                        email: support@ratecard.io
                        review_urls:
                          google: null
                          facebook: null
                          indeed: null
                          glassdoor: null
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    notifications:
                      app: true
                      email:
                        import_errors: true
                        feedback: true
                        feedback_below:
                          enabled: true
                          score: 0
                        feedback_comments: true
                      text:
                        feedback: true
                        feedback_below:
                          enabled: true
                          score: 0
                        feedback_comments: true
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-users-id
      parameters:
        - $ref: '#/components/parameters/fieldsparam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
    put:
      description: This endpoint is used to update a user in your account.
      summary: Update a user
      tags:
        - Users
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      operationId: put-users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name of the user
                  example: John
                last_name:
                  type: string
                  description: Last name of the user
                  example: Doe
                email:
                  type: string
                  description: Emailaddress of the user
                  example: johndoe@example.com
                phone:
                  type:
                    - string
                    - 'null'
                  example: +31 6 12345678
                  description: Phone number of the user
                date_of_birth:
                  type:
                    - string
                    - 'null'
                  example: 01-01-2020
                  description: Birthdate of the user
                country:
                  type: string
                  example: NL
                  description: 'Country of the user, uses ISO 3166-1 alpha-2 language codes'
                language:
                  type: string
                  description: The Ratecard app language for the user
                  enum:
                    - NL
                    - EN
                function:
                  type: string
                  example: Developer
                  description: The function (job title) of the user
                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - manager
                    - user
                  description: The user's role (within Ratecard)
                notifications:
                  type: object
                  description: The user's notification settings
                  properties:
                    app:
                      type: boolean
                      description: In-app notifications (e.g. notification bubbles)
                    email:
                      type: object
                      description: Email based notifications
                      properties:
                        import_errors:
                          type: boolean
                          description: Sends a notification when an error occurs during an import
                        feedback:
                          type: boolean
                          description: Sends a notification when new feedback arrives
                        feedback_below:
                          type: object
                          description: Only send notification's regarding feedback below the defined score
                          properties:
                            enabled:
                              type: boolean
                            score:
                              type: integer
                              maximum: 10
                              minimum: 0
                              exclusiveMaximum: true
                              exclusiveMinimum: false
                        feedback_comments:
                          type: boolean
                          description: Sends a notification when there's a new comment for feedback
                    text:
                      type: object
                      description: Text (sms) based notifications
                      properties:
                        feedback:
                          type: boolean
                          description: Sends a notification when new feedback arrives
                        feedback_below:
                          type: object
                          description: Only send notification's regarding feedback below the defined score
                          properties:
                            enabled:
                              type: boolean
                            score:
                              type: integer
                              maximum: 10
                              minimum: 0
                              exclusiveMaximum: true
                        feedback_comments:
                          type: boolean
                          description: Sends a notification when there's a new comment for feedback
                created_at:
                  description: Date of creation
                  type: string
                  example: '2020-11-25T09:33:14.000000Z'
                  format: datetime
                  readOnly: true
                updated_at:
                  description: Date last changed
                  type: string
                  example: '2020-11-25T09:33:14.000000Z'
                  format: datetime
                  readOnly: true
        description: |-
          Just like with contacts and groups, you're currently unable to add/remove a user to/from a team with the user update request.

          <!-- theme: warning -->
          > Be careful when updating user roles, so they don't get a role they shouldn't have
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
    delete:
      description: This endpoint is used to remove a user from your account.
      summary: Delete a user
      tags:
        - Users
      responses:
        '200':
          $ref: '#/components/responses/200-(deleted)'
        '404':
          $ref: '#/components/responses/404'
      operationId: delete-users-id
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
  /teams:
    get:
      description: This endpoint is used to retrieve a list of teams from your account.
      summary: List of teams
      tags:
        - Teams
      responses:
        '200':
          description: Paginated team response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/team.v1.yaml
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/teams?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/teams?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/teams?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/teams?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/teams'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
              examples:
                Example:
                  value:
                    data:
                      - id: ea10916d-0684-4624-9d07-d341193554cf
                        name: Support
                        email: support@ratecard.io
                        review_urls:
                          google: null
                          facebook: null
                          indeed: null
                          glassdoor: null
                        created_at: '2020-11-25T09:33:14.000000Z'
                        updated_at: '2020-11-25T09:33:14.000000Z'
                    links:
                      first: 'https://api.ratecard.io/v1/teams?page=1'
                      last: 'https://api.ratecard.io/v1/teams?page=100'
                      prev: 'https://api.ratecard.io/v1/teams?page=1'
                      next: 'https://api.ratecard.io/v1/teams?page=2'
                    meta:
                      current_page: 2
                      from: 2
                      last_page: 10
                      path: 'https://api.ratecard.io/v1/teams'
                      per_page: 1
                      to: 2
                      total: 100
      operationId: get-teams
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
        - $ref: '#/components/parameters/fieldsparam'
        - $ref: '#/components/parameters/exceptParam'
        - in: query
          name: sort
          schema:
            type: string
          example: ?sort=created_at,-name
          description: |-
            A comma separated list to sort the API response. Properties are ascending by default (e.g. `?sort=created_at`). Use a dash as a prefix to make the property return in descending order (e.g `?sort=-created_at`)

            Sortable properties:
            - id
            - name
            - email
            - created_at
            - updated_at
            - review_urls.google
            - review_urls.facebook
            - review_urls.indeed
            - review_urls.glassdoor
        - in: query
          name: id
          schema:
            type: string
            format: expression
          description: Filters on the id of the teams
        - in: query
          name: name
          schema:
            type: string
            format: expression
          description: Filters on the name of the teams
        - in: query
          name: email
          schema:
            type: string
            format: expression
          description: Filters on the email of the teams
        - in: query
          name: created_at
          schema:
            type: string
            format: expression
          description: Filters on the created_at of the teams
        - in: query
          name: updated_at
          schema:
            type: string
            format: expression
          description: Filters on the updated_at of the teams
        - in: query
          name: review_urls.google
          schema:
            type: string
            format: expression
          description: Filters on the review_urls.google of the teams
        - in: query
          name: review_urls.facebook
          schema:
            type: string
            format: expression
          description: Filters on the review_urls.facebook of the teams
        - in: query
          name: review_urls.indeed
          schema:
            type: string
            format: expression
          description: Filters on the review_urls.indeed of the teams
        - in: query
          name: review_urls.glassdoor
          schema:
            type: string
            format: expression
          description: Filters on the review_urls.glassdoor of the teams
    post:
      description: This endpoint is used to add a team to your account.
      summary: Add a new team
      tags:
        - Teams
      responses:
        '200':
          description: Team response
          content:
            application/json:
              schema:
                $ref: ./models/team.v1.yaml
        '422':
          $ref: '#/components/responses/422'
      operationId: post-teams
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the team
                  example: Support
                email:
                  type:
                    - string
                    - 'null'
                  description: Email of the team
                  example: support@ratecard.io
                review_urls:
                  type: object
                  description: Review URLs for the team
                  properties:
                    google:
                      type:
                        - string
                        - 'null'
                      description: The team's Google review URL
                    facebook:
                      type:
                        - string
                        - 'null'
                      description: The team's Facebook review URL
                    indeed:
                      type:
                        - string
                        - 'null'
                      description: The team's Indeed review URL
                    glassdoor:
                      type:
                        - string
                        - 'null'
                      description: The team's Glassdoor review URL
              required:
                - name
            examples:
              Example:
                value:
                  name: Support
                  email: support@ratecard.io
                  review_urls:
                    google: null
                    facebook: null
                    indeed: null
                    glassdoor: null
  '/teams/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: The team id
    get:
      description: This endpoint is used to retrieve a single team from you account.
      summary: Retrieve a team
      tags:
        - Teams
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: ./models/team.v1.yaml
              examples:
                Example:
                  value:
                    id: ea10916d-0684-4624-9d07-d341193554cf
                    name: Support
                    email: support@ratecard.io
                    review_urls:
                      google: null
                      facebook: null
                      indeed: null
                      glassdoor: null
                    created_at: '2020-11-25T09:33:14.000000Z'
                    updated_at: '2020-11-25T09:33:14.000000Z'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-teams-id
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/fieldsparam'
    put:
      description: This endpoint is used to update a team in your account.
      summary: Update a team
      tags:
        - Teams
      responses:
        '204':
          description: Team update response
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      operationId: put-teams
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/acceptParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the team
                  example: Support
                email:
                  type:
                    - string
                    - 'null'
                  description: Email of the team
                  example: support@ratecard.io
                review_urls:
                  type: object
                  description: Review URLs for the team
                  properties:
                    google:
                      type:
                        - string
                        - 'null'
                      description: The team's Google review URL
                    facebook:
                      type:
                        - string
                        - 'null'
                      description: The team's Facebook review URL
                    indeed:
                      type:
                        - string
[...]
