openapi: 3.0.3
info:
  version: 0.2.0
  title: Ratecard API
  description: Integrate your Ratecard account with your applications through connecting via the Ratecard API.
  contact:
    name: Ratecard Support
    url: 'https://support.ratecard.io/'
    email: support@ratecard.io
  termsOfService: 'https://ratecard.io/general-terms'
servers:
  - url: 'https://api.ratecard.io/v1'
security:
  - bearerAuth: []
tags:
  - name: Contacts
  - name: Groups
paths:
  /contacts:
    get:
      summary: List of contacts
      description: This is the list of contacts
      operationId: listContacts
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
      responses:
        '200':
          description: Paginated contact response
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/contacts?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/contacts?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/contacts'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
    post:
      summary: Add a new contact
      description: Description
      operationId: addContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
              properties:
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                email:
                  type: string
                  example: johndoe@ratecard.io
                phone:
                  type: string
                  example: '0612345678'
                subscribed:
                  type: boolean
                  example: true
                anonymous:
                  type: boolean
                  example: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          links:
            GetContactById:
              operationId: getContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `GET /contacts/{id}`.
            UpdateContactById:
              operationId: updateContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /contacts/{id}`.
            DeleteContactById:
              operationId: deleteContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /contacts/{id}`.
  '/contacts/{id}':
    get:
      summary: Retrieve a contact
      description: Description
      operationId: getContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the contact
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Contact response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          links:
            UpdateContactById:
              operationId: updateContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /contacts/{id}`.
            DeleteContactById:
              operationId: deleteContact
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /contacts/{id}`.
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Update a contact
      description: Description
      operationId: updateContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the contact
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                email:
                  type: string
                  example: johndoe@ratecard.io
                phone:
                  type: string
                  example: '0612345678'
                subscribed:
                  type: boolean
                  example: true
                anonymous:
                  type: boolean
                  example: false
      responses:
        '204':
          description: Contact updated response
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a contact
      description: Description
      operationId: deleteContact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the contact
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Contact deleted response
        '404':
          $ref: '#/components/responses/404'
  /groups:
    get:
      summary: List of groups
      description: Description
      operationId: listGroups
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/showParam'
      responses:
        '200':
          description: Paginated group response
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups?page=1'
                      last:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups?page=100'
                      prev:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/groups?page=1'
                      next:
                        type: string
                        nullable: true
                        example: 'https://api.ratecard.io/v1/groups?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 2
                      from:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'https://api.ratecard.io/v1/groups'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 100
    post:
      summary: Add a new group
      description: Description
      operationId: addGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: My Group
                limits:
                  type: object
                  properties:
                    contacts:
                      type: object
                      properties:
                        no_duplicates:
                          type: boolean
                        no_duplicates_in_any_group:
                          type: boolean
                    messages:
                      type: object
                      properties:
                        max:
                          type: integer
                        period:
                          type: string
                          enum:
                            - d
                            - w
                            - m
                            - q
                            - hy
                            - 'y'
                        include_reminders:
                          type: boolean
                    filter:
                      type: object
                      properties:
                        tag:
                          type: string
                          nullable: true
                          example: ''
                        value:
                          type: string
                          nullable: true
                          example: ''
                smart_fields:
                  type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          links:
            GetGroupById:
              operationId: getGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `GET /groups/{id}`.
            UpdateGroupById:
              operationId: updateGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /groups/{id}`.
            DeleteGroupById:
              operationId: deleteGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /groups/{id}`.
  '/groups/{id}':
    get:
      summary: Retrieve a group
      description: Description
      operationId: getGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the group
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          links:
            UpdateGroupById:
              operationId: updateGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `PUT /groups/{id}`.
            DeleteGroupById:
              operationId: deleteGroup
              parameters:
                id: $response.body#/id
              description: |
                The `id` value returned in the response can be used as the `id` parameter in `DELETE /groups/{id}`.
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Update a group
      description: Description
      operationId: updateGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the group
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
              properties:
                name:
                  type: string
                  example: My Group
                limits:
                  type: object
                  properties:
                    contacts:
                      type: object
                      properties:
                        no_duplicates:
                          type: boolean
                        no_duplicates_in_any_group:
                          type: boolean
                    messages:
                      type: object
                      properties:
                        max:
                          type: integer
                        period:
                          type: string
                          enum:
                            - d
                            - w
                            - m
                            - q
                            - hy
                            - 'y'
                        include_reminders:
                          type: boolean
                    filter:
                      type: object
                      properties:
                        tag:
                          type: string
                          nullable: true
                          example: ''
                        value:
                          type: string
                          nullable: true
                          example: ''
                smart_fields:
                  type: object
      responses:
        '204':
          description: Group updated response
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a group
      description: Description
      operationId: deleteGroup
      tags:
        - Groups
      parameters:
        - $ref: '#/components/parameters/acceptParam'
        - $ref: '#/components/parameters/contentTypeParam'
        - in: path
          name: id
          description: id of the group
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Group deleted response
        '404':
          $ref: '#/components/responses/404'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  headers:
    X-Total-Count:
      schema:
        type: integer
      example: 40
    X-RateLimit-Limit:
      description: Request limit per hour
      schema:
        type: integer
      example: 60
    X-RateLimit-Remaining:
      schema:
        type: integer
      example: 58
  parameters:
    pageParam:
      name: page
      in: query
      description: Current page
      required: false
      example: 1
      allowEmptyValue: true
      schema:
        type: integer
        format: int32
    showParam:
      name: show
      in: query
      description: Amount of items returned by the request
      required: false
      allowEmptyValue: true
      example: 5
      schema:
        type: integer
        format: int32
    contentTypeParam:
      in: header
      name: Content-Type
      schema:
        type: string
        example: application/json
        default: application/json
      required: true
    acceptParam:
      in: header
      name: Accept
      schema:
        type: string
        example: application/json
        default: application/json
      required: true
  schemas:
    Contact:
      $ref: ./Models/Contact.v1.yaml
      description: ''
    Group:
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          description: Name of the group
          type: string
          example: My Group
        limits:
          type: object
          properties:
            contacts:
              description: Filters that determine if an existing contact can be added to the group
              type: object
              properties:
                no_duplicates:
                  description: (Dis)allow contacts that already exist in *this* group to be added to the group
                  type: boolean
                  example: true
                no_duplicates_in_any_group:
                  description: (Dis)allow contacts that already exist in *any* group to be added to the group
                  type: boolean
                  nullable: true
                  example: false
            messages:
              description: Controls the rate and frequency of which messages can be sent to contacts of the group
              type: object
              properties:
                max:
                  description: Maximum amount of messages per the defined period (frequency)
                  type: integer
                  example: 2
                period:
                  description: The frequency period to limit message sends on
                  type: string
                  enum:
                    - d
                    - w
                    - m
                    - q
                    - hy
                    - 'y'
                  example: d
                include_reminders:
                  description: Include reminder messages in the check
                  type: boolean
                  example: false
            filter:
              description: Determines whether a contact can be added or not
              type: object
              properties:
                tag:
                  description: The tag the group filters on when adding contacts
                  type: string
                  nullable: true
                  example: locale
                value:
                  description: The value that the group tag filter must find to allow a contact to be stored
                  type: string
                  nullable: true
                  example: nl
        smart_fields:
          type: array
          items:
            type: object
            properties:
              type:
                description: Type of the smart field
                type: string
                enum:
                  - user
                  - team
                  - text
                  - number
                  - datetime
                  - date
                  - time
                  - language
                example: user
              name:
                description: Name of the smart field
                type: string
                example: owner
              slug:
                description: URL friendly version of the smart field name
                type: string
                example: owner
              value:
                description: Value of the smart field (can be mapped to an object for user and team types).
                type: string
                example: support@ratecard.io
              created_at:
                $ref: '#/components/schemas/DateTime'
              updated_at:
                $ref: '#/components/schemas/DateTime'
        created_at:
          $ref: '#/components/schemas/DateTime'
        updated_at:
          $ref: '#/components/schemas/DateTime'
    DateTime:
      description: Date time value
      type: string
      example: '2020-11-25T09:33:14.000000Z'
    UUID:
      description: Id of the object
      type: string
      example: ea10916d-0684-4624-9d07-d341193554cf
      readOnly: true
  responses:
    '404':
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Not found
